.Order {
  margin-top: 30px;
  &_item {
    display: flex;
    justify-content: space-between;
    & .item-data {
      font-size: 18px;
      line-height: 25px;
      color: #331B22;
      & .item-data-number {
        font-weight: bold;
      }
    }
    & .item-state {
      font-size: 16px;
      line-height: 22px;
      color: #3BA639;
    }
  }
  &_delivery {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
    .Order {
        
        &_item {
            
            & .item-data {
                font-size: 14px;
            }
            & .item-state {
               font-size: 12px; 
            }
        }
        &_delivery {
            border-bottom: 1px solid #775B59;
            font-size: 12px;
            margin-bottom: 60px;
        }
    }
}