.Cart{
  position: relative;
  top: 15vh;
  display: flex;
  padding: 55px 115px 115px 115px;
  justify-content: space-between;

  &__empty{
    position: relative;
    top: 20vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;

    & img{
      height: 300px;
      width: 600px;
      margin: 0 auto;
    }
  }

  &_wrapper{
    min-height: 53vh;
  }

  &_container{
    display: flex;
    flex-direction: column;
    width: 44vw;


  }

  &_header{
    text-align: center;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    color: #134442;
  }

  &_footer{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #775B59;
    padding-top: 60px;
    border-top: 1px solid #775B59;
    align-items: flex-end;

  }

  &_link{
    & span{
      margin-right: 15px;
      font-size: 20px;
    }
  }

  &_total{
    font-size: 24px;
    line-height: 33px;
    color: #134442;

    & span{
      margin-left: 15px;
      color: #0096A1;
    }
  }

  & .item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #775B59;
    padding: 30px 0;
    color: #331B22;
    box-sizing: border-box;

    &_details{
      width: 230px;
      text-align: left;
      font-size: 14px;
      line-height: 19px;
    }

    &_title{
      margin-bottom: 15px;
    }

    &_counter{
      width: 40px;
      height: 20px;
      text-align: center;
      font-size: 14px;
      border: 0.5px solid #775B59;
    }

    &_price{
      font-weight: bold;
    }

    &_delete{
      color: #C4C4C4;
      outline-style:none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
    }

    & img{
      width: 126px;
      height: 171px;
    }
  }

  & .Delivery{
    display: flex;
    flex-direction: column;
    color: #134442;
    width: 35vw;

    & h3{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #134442;
      margin-bottom: 20px;
      margin-top: 40px;

      &:first-child{
        margin-top: 0;
      }
    }

    & span{
      color: #EB001B;
    }

    & input{
      border: 1px solid #775B59;
      box-sizing: border-box;
      border-radius: 5px;
      height: 32px;
      font-size: 14px;
      line-height: 19px;
      color: #134442;
      margin-top: 8px;
      margin-bottom: 23px;
      padding: 6px;
      box-sizing: border-box;
    }

    & .info{
      &-main{
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        & label{
          display: flex;
          flex-direction: column;
          text-align: left;
        }
      }

      &-delivery{

        & .radio-wrapper{
          margin-bottom: 34px;

          & input{
            height: 18px;
            width: 18px;
            margin:0 8px 0 20px;
          }
        }

      }

      &-address{
        display: flex;
        flex-wrap: wrap;
        & input{
          flex: 1 0 50%;
          margin-left: 10px;
          margin-right: 20px;
        }
      }

      &-payment-method{
        height: 32px;
        font-size: 14px;
        padding: 6px;
        box-sizing: border-box;
        color: #134442;
        width: 100%;
        margin-bottom: 130px;
        background-color: white;
      }

    }
  }

  & input.checkout-btn{
    display: flex;
    width: 225px;
    height: 65px;
    background: #9AE5E6;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    color: #134442;
    transition: 0.4s;
    border: none;
    cursor: pointer;
    margin-left: auto;

    &:hover{
      box-shadow: 0px 30px 10px -25px rgba(0, 150, 161, 0.3);

    }
  }

}



@media screen and (max-width: 768px) {
    .Cart {
        padding: 0;
        flex-direction: column;
        margin-bottom: 50px;
        
        &__empty{
            font-size: 20px;
            line-height: 24px;
            padding: 0 10px;
            
            & img{
              height: 120px;
              width: 250px;
                margin: 20px auto;
            }
          }
        
        &_link {
            font-size: 14px;
            margin-left: 10%;
            
             & span {
                  margin-right: 15px;
                  font-size: 14px;
             }
        }

        &_wrapper {
            position: relative;
            top: 10vh;
        }
        &_container {
            width: 100vw;
        }
        
        &_header {
            margin-bottom: 15px;
            font-size: 16px;
            width: 100vw;
        }
        
        & .item {
            position: relative;
            padding: 10px;
            margin: 0 auto;
            width: 80vw;
            
            &_details {
                line-height: 14px;
                position: absolute;
                left: 110px;
                width: 150px;
            }
            
            &_counter {
                position: absolute;
                bottom: 12px;
                right: 35%;
                width: 30px;
                height: 15px;
            }
            
             &_title {
                font-size: 12px;
                font-weight: bold;
                margin: 5px 10px;
            }
            
            &_author {
                font-size: 12px;
                margin: 5px 10px;
            }

            & img {
                width: 100px;
                height: 140px;
            }

            &_price {
                position: absolute;
                bottom: 15px;
                right: 30px;
                font-size: 14px;
            }
            
            &_delete {
                font-size: 14px;
            }
        }

        & .Delivery {
            width: 60vw;
            margin: 30px auto;
            
            & input {
                margin: 10px 0;
            }
                                                
            & .checkout-btn {
                    width: 115px;
                    height: 44px;
                    margin: 0 auto;
                    font-size: 14px;
                }
            
            & .info {
                &-delivery {
                    & .radio-wrapper {
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding-top: 20px;
                        
                        & label {
                            display: flex;
                            margin-bottom: 15px;
                        } 
                    }
                }
                
                &-payment-method {
                    margin-bottom: 60px;
  
                }
 
                &-main {
                    margin-top: 0;
                    padding-top: 20px;
                }

            }
            
            & h3 {
                font-size: 16px;
                border-bottom: 1px solid;
            }
        }
        
        &_footer {
            width: 100vw;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 15px;
        }
        
        &_total {
            font-size: 16px;
            margin: 0 auto;
        }
        
    }

}