.MainCategorySection {
  position: relative;
  top: 15vh;
  margin: 59px 77px 0;
  padding-bottom: 50px;

  &_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #775B59;
    text-align: left;
    margin-left: 73px;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #331B22;
      top: 53px;
      left: 0;
      right: 0;
    }
  }

  &_products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 39px 20px 0;
    flex-wrap: wrap;
  }
}

.button {
  position: absolute;
  bottom: 0;
  right: 35px;
  display: block;
  width: 180px;
  background-color: #9AE5E6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #134442;
  cursor: pointer;
  padding: 16px 0;
  margin-bottom: 13px;
  transition: .4s;
}

.button:hover {
  box-shadow: 0 20px 9px -16px #9AE5E6;
}


@media screen and (max-width: 768px) {
    .MainCategorySection {
        margin: 0;
        &_title {
            font-size: 16px;
            margin: 0;
            text-align: center;
          &::after {
              height: 1px;
              width: 74%;
              margin: 0 auto;
              }  
           } 
    }
    .button {
          position: relative;
          width: 120px;
          height: 15px;
          font-size: 16px;
          margin: 0 auto;
          right: 0;
      }
}