.CategorySection {
  position: relative;
  top: 148px;

  &_title {
    margin: 0 auto;
    padding-bottom: 5px;
    max-width: 1210px;
    font-size: 36px;
    border-bottom: 1px solid #331B22;
    color: #775B59;
  }
  &_sort {
    margin: 36px 0;
    & .sort-by {
      display: inline-block;
      margin-right: 40px;
      padding: 7px 17px;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      & .sort-header {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
      }
      & .sort-select {
        border: none;
        outline: none;
        font-size: 20px;
        color: #575757;
      }
    }
    & .sort-results {
      font-size: 18px;
      color: #775B59;

    }
  }
  &_product-list {
    margin: 0 auto 50px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .btn-view {
    margin: 0 auto 85px;
    width: 180px;
    height: 65px;
    background: #9AE5E6;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #134442;
  }
}

@media screen and (max-width: 320px) { 
    .CategorySection {
        &_sort {
            
            & .sort-by {
                margin: 0;
                
                & .sort-header {
                   font-size: 14px; 
                }
                
                & .sort-select{
                   font-size: 14px; 
                }
            }
            
        }
        
        & .btn-view {
            width: 115px;
            height: 44px;
            font-size: 16px;
          }
        &_title {
            font-size: 16px;
        }
        
    }
}