.Footer {
    background-color: #134442;
    width: 100vw;
    padding: 20px;
    position: relative;
    top: 20vh;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &_wrapper {
        display: flex;
    }
    &_logo {
        height: 100%;
        color: #838383;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 110px;
    }

}
.Footer_menu {
    text-align: left;
    margin-right: 100px;
    &_list {
        font-size: 18px;
        color: #9AE5E6;
        text-align: left;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &_item {
        font-size: 14px;
        color: #FFFFFF;
        padding: 8px 0;
    }
    &_item:hover {
        color: #9AE5E6;
        text-decoration: underline;
        cursor: pointer;
    }
    &_paypal {
        background-image: url(img/Paypal.png);
        background-repeat: no-repeat;
        width: 100px;
        height: 25px;
    }
    &_paypal:hover {
        background-image: url(img/PayPalhover.png);
        background-repeat: no-repeat;
        width: 100px;
        height: 25px;
        cursor: pointer;
    }
    &_visa {
        background-image: url(img/Visa.png);
        background-repeat: no-repeat;
        width: 80px;
        height: 60px;
    }
    &_visa:hover {
        background-image: url(img/Visahover.png);
        background-repeat: no-repeat;
        width: 80px;
        height: 60px;
        cursor: pointer;
    }
    &_mastercard {
        background-image: url(img/Mastercard.png);
        background-repeat: no-repeat;
        width: 60px;
        height: 40px;
    }
    &_mastercard:hover {
        background-image: url(img/Mastercardhover.png);
        background-repeat: no-repeat;
        width: 60px;
        height: 40px;
        cursor: pointer;
    }
    &_social {
        margin-top: 10px;
    }
    &_social::after {
        content: '';
        display: inline-block;
        background-image: url(img/instaactive.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    &_social:hover:after {
        content: '';
        display: inline-block;
        background-image: url(img/instagram.png);
        width: 30px;
        height: 30px; 
        cursor: pointer;
    }
}


@media screen and (max-width: 768px) {
<<<<<<< HEAD
    .Logo {
        display: none;
    }
    .Footer {
=======

    .Footer {

        & .Logo {
            display: none;
        }
>>>>>>> d901e8c65a130c1f6f9b86e683635528224a0c82
        
        &_wrapper {
            margin: 0 auto;
            width: 80vw;
            flex-direction: row;
            justify-content: space-around;
        }
        
        &_logo {
            padding: 0;
            
            &_rights {
                position: absolute;
                bottom: 10px;
                left: calc(50% - 150px/2);
                font-size: 10px;
            }
        }
    }
    .disnone {
        display: none;
    }
    .Footer_menu {
        margin-right: 25px;
        
        &_item {
            font-size: 12px;
            padding: 5px 0;
        }
        
        &_list {
            margin-bottom: 10px;
            font-size: 16px;
        }
        
        &_social {
            margin: 10px 0;
            text-align: right;
                & .imgsize {
                    width: 18px;
                    height: 18px;
                }
        }
        
        & .imgsize {
            width: 18px;
            height: 18px;
        }
        
        &_social::after {
            background-image: url(img/instagramadap.png);
            width: 18px;
            height: 18px;
            margin-left: 10px;
        }
    }
    
}
