.Cabinet {
  position: relative;
  top: 15vh;
  margin-bottom: 100px;
  &_nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    & .nav-item {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #7E9F9E;
      & .active {
        border-bottom: 3px solid #9AE5E6;
        color: #134442;
      }
    }
    & .nav-item:last-child {
      padding-left: 200px;
      font-weight: normal;
      color: #775B59;
      text-decoration: underline;
    }
  }
}



@media screen and (max-width: 768px) {
    .Cabinet {
        margin-bottom: 50px;
        width: 80vw;
        margin: 0 auto;
        &_nav {
            flex-direction: column;
            position: relative;
            & .nav-item {
                font-size: 20px;
                margin: 5px auto;
            }
            
            & .exit {
                position: absolute;
                right: -20px;
                font-size: 14px;
                top: -30px;
            }

        }
    }
}